<div class="row">
  <div class="col-lg-12">
    <invert-app-title>Crear Nuevo Usuario</invert-app-title>
  </div>
  <user-form
    is-edit="false"
    is-success="isSuccess"
    user-data="userData"
    user-roles="userRoles"
    save-user-function="saveUserFunction"
    on-chage-file="onChageFile"
  select-file-function="selectFileFunction"
  >
  </user-form>
</div>
