<span>
  <invert-app-modal>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
      </button>
      <h4 class="modal-title">Usted desea eliminar al usuario {{ userToBeDelete.nombre }}?</h4>
    </div>
    <div class="modal-body">
      <p>Usuario : {{ userToBeDelete.username }}</p>
      <p>Telefono : {{ userToBeDelete.telefono }}</p>
      <p>email: {{ userToBeDelete.email }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" ng-click="onRemoveFunction(userToBeDelete)">Elinimar usuario</button>
    </div>
  </invert-app-modal>
</span>