<div class="row">
  <div class="col-lg-12">
    <invert-app-title>Editar Usuario</invert-app-title>
  </div>
  <div ng-if="!userData && isNotRequesting" class="alert alert-danger">
    No existe este Usuario
  </div>
  <user-form
    ng-if="userData"
    is-edit="true"
    is-success="isSuccess"
    user-data="userData"
    user-roles="userRoles"
    save-user-function="saveUserFunction">
  </user-form>
</div>
