<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Digite los datos del usuario
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div ng-if="isSuccess">
          <div class="alert alert-success">
            El Usuario ha sido registrado correctamente
          </div>
        </div>

        <form role="form">
          <div class="row" >
            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.username}]">
              <label for="username">Usuario</label>
              <input
                ng-model="userData.username" type="text" id="username" class="form-control"
                name="username" placeholder="Nombre de Usuario" ng-hide="isEdit">
              <div ng-show="isEdit">
                <h3 class="no-margins">{{userData.username}}</h3>
              </div>
            </div>
            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.nombre}]">
              <label  for="nombre">Nombre</label>
              <input ng-model="userData.nombre" type="text" id="nombre" class="form-control" placeholder="Nombre">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.cedula}]">
              <label for="cedula">C&eacute;dula</label>
              <input ng-model="userData.cedula" type="text" id="cedula" class="form-control"  placeholder="C&eacute;dula">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.telefono}]">
              <label  for="telefono">Tel&eacute;fono</label>
              <input ng-model="userData.telefono" type="text" id="telefono" class="form-control" placeholder="tel&eacute;fono">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.celular}]">
              <label for="celular">Celular</label>
              <input ng-model="userData.celular" type="text" id="celular" class="form-control" placeholder="Celular">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.direccion}]">
              <label for="direccion">Direcci&oacute;n</label>
              <input ng-model="userData.direccion" type="tel" id="direccion" class="form-control" placeholder="Direcci&oacute;n">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.email}]">
              <label for="email">Correo</label>
              <input ng-model="userData.email" type="text" id="email" class="form-control" placeholder="Correo">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.fecha_inicio}]">
              <label for="fecha_inicio">Fecha Inicio</label>
              <input ng-model="userData.fecha_inicio" type="text" id="fecha_inicio" class="form-control" placeholder="Fecha Inicio">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.hora_entrada}]">
              <label for="hora_entrada">Hora entrada</label>
              <input ng-model="userData.hora_entrada" type="text" id="hora_entrada" class="form-control" placeholder="hora_entrada">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.hora_salida}]">
              <label for="hora_salida">Hora salida</label>
              <input ng-model="userData.hora_salida" type="text" id="hora_salida" class="form-control" placeholder="Hora salida">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.salario}]">
              <label for="salario">Salario</label>
              <input ng-model="userData.salario" type="text" id="salario" class="form-control" placeholder="Salario">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': userData.error.rol_id}]">
              <label for="rol">Rol</label>
              <select class="form-control" id="rol"
                      ng-options="item.id as item.nombre for item in userRoles | orderBy: 'nombre'"
                      ng-model="userData.rol_id">
              </select>
            </div>

            <div  class="form-group col-sm-6" ng-class="[{'has-error': userData.error.password}]">
              <label for="password">Contrase&ntilde;a</label>
              <input ng-model="userData.password" type="password" id="password" class="form-control" placeholder="Contrase&ntilde;a">
            </div>

            <div  class="form-group col-sm-6" ng-class="[{'has-error': userData.error.password_confirmation}]">
              <label for="password_confirmation">Confirmar Contrase&ntilde;a</label>
              <input ng-model="userData.password_confirmation" type="password" id="password_confirmation" class="form-control" placeholder="Confirmar Contrase&ntilde;a">
            </div>
          </div>
          <div class="form-group hidden">
            <label  for="foto_cedula">Foto c&eacute;dula</label><br />
            <span ng-click="selectFileFunction()" class="btn btn-success">Subir Foto</span>
            <input  type="file" id="foto_cedula"  class="hidden"
                   name="foto_cedula" onchange="angular.element(this).scope().onChageFile(this)"

            />
            <img  class="img-responsive user-image" alt="Foto c&eacute;dula" ng-src="{{userData.foto_cedula}}"   >
          </div>
          <!-- /row -->
          <div class="row" >
            <div class="col-md-12">
              <button ng-click="saveUserFunction()" class="btn btn-success pull-right margin-right-18">Guardar</button>
            </div>
          </div>
          <!-- /row -->
        </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
