<div class="dataTables_filter pull-right" >
  <label>Buscar:
    <input type="text"
           ng-change="onChange(criteria)"
           ng-model="criteria"
           ng-model-options="{
              debounce: { 'default': 300}
           }"
           class="form-control input-sm"
           placeholder="" />
  </label>
</div>
