<div class="row">
    <div class="col-lg-12">
        <invert-app-title>Crear Nuevo Rol</invert-app-title>
    </div>
    <rol-form
            is-edit="false"
            is-success="isSuccess"
            rol-data="rolData"
            save-rol-function="saveRolFunction">
    </rol-form>
</div>
