<div class="row">
    <div class="row">
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            <invert-app-title>Roles del sistema</invert-app-title>
            <div class="pull-right" style="margin-bottom: 10px;">
                <a href="/roles/create" class="btn btn-info">Agregar rol</a>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista de roles
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <search-box class="pull-left"
                                            on-change="searchRol"
                                ></search-box>
                            </div>
                        </div>
                        <div class="table-responsive" >
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th ng-click="sortByFunction('name')" class="cursor-pointer">Nombre <span       class="fa" ng-class="[{'fa-sort': !header.name, 'fa-sort-asc': header.name.asc, 'fa-sort-desc': header.name && !header.name.asc }]"></span></th>
                                    <th ng-click="sortByFunction('description')" class="cursor-pointer">Descripci&oacute;n<span      class="fa" ng-class="[{'fa-sort': !header.description, 'fa-sort-asc': header.description.asc, 'fa-sort-desc': header.description && header.description && !header.description.asc }]"></span></th>
                                    <th class="cursor-pointer">Acciones</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr ng-repeat="rol in roles track by rol.id " >
                                    <td>{{rol.name}}</td>
                                    <td>{{rol.description}}</td>
                                    <td>
                                        <a class="btn btn-md btn-info" href="/roles/{{rol.id}}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a href="#modal" data-toggle="modal" class="btn btn-md btn-danger" ng-click="setRol(rol)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav class="pull-right" >
                            <ul class="pagination" >
                                <li ng-class="[{ 'disabled': currentPage === 1 }]" >
                                    <a href="#" ng-click="currentPage !== 1 && onPageClick(currentPage - 1)"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li ng-repeat="pageNumber in pages track by $index" ng-class="[{'active': ($index + 1) === currentPage}]">
                                    <a href="#" ng-click="onPageClick($index + 1)">{{ $index + 1 }}</a>
                                </li>

                                <li ng-class="[{ 'disabled': currentPage === pages.length }]" >
                                    <a href="#" ng-click="currentPage !== pages.length && onPageClick(currentPage + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
