<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Digite los datos del rol
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div ng-if="isSuccess">
                    <div class="alert alert-success">
                        El Rol ha sido registrado correctamente
                    </div>
                </div>

                <form role="form">
                    <div class="row" >
                        <div class="form-group col-sm-6" ng-class="[{'has-error': rolData.error.name}]">
                            <label for="name">Rol</label>
                            <input
                                    ng-model="rolData.name" type="text" id="name" class="form-control"
                                    name="name" placeholder="Nombre de Rol" ng-hide="isEdit">
                            <div ng-show="isEdit">
                                <h3 class="no-margins">{{rolData.name}}</h3>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-class="[{'has-error': rolData.error.description}]">
                            <label  for="description">Descripci&oacute;n</label>
                            <input ng-model="rolData.description" type="text" id="description" class="form-control" placeholder="Descripci&oacute;n">
                        </div>


                    </div>
                    <!-- /row -->
                    <div class="row" >
                        <div class="form-group">
                            <button ng-click="saveRolFunction()" class="btn btn-success pull-right margin-right-18">Guardar</button>
                        </div>
                    </div>
                    <!-- /row -->
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
