<div>
  <div class="row">
    <div class="col-lg-12">
      <!-- this is PHP code -->
      <invert-app-title>Bienvenido {{ user.nombre }}</invert-app-title>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>