<div class="row">
    <div class="col-lg-12">
        <invert-app-title>Crear Nuevo Pedido</invert-app-title>
    </div>
    <pedido-form
            is-edit="false"
            is-success="isSuccess"
            pedido-data="pedidoData"
            pedido-clients="pedidoClients"
            save-pedido-function="savePedidoFunction">
    </pedido-form>
</div>
