<span>
  <invert-app-modal>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
      </button>
      <h4 class="modal-title">Usted desea eliminar al cliente ?</h4>
    </div>
    <div class="modal-body">
      <p>Pedido</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" ng-click="onRemoveFunction(pedidoToBeDelete)">Eliminar Pedido</button>
    </div>
  </invert-app-modal>
</span>