<div class="row">
  <div class="col-lg-12">
    <invert-app-title>Editar Pedido</invert-app-title>
  </div>
  <div ng-if="!pedidoData && isNotRequesting" class="alert alert-danger">
    No existe este Pedido
  </div>
  <pedido-form
    ng-if="pedidoData"
    is-edit="true"
    is-success="isSuccess"
    pedido-data="pedidoData"
    pedido-clients="pedidoClients"
    save-pedido-function="savePedidoFunction">
  </pedido-form>
</div>
