<div class="row">
  <div class="row">
    <!-- /.col-lg-12 -->
    <div class="col-lg-12">
      <invert-app-title>Pedidos</invert-app-title>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista de pedidos
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div class="table-responsive" >
              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                  <th ng-click="sortByFunction('client')" class="cursor-pointer">Cliente <span       class="fa" ng-class="[{'fa-sort': !header.client, 'fa-sort-asc': header.client.asc, 'fa-sort-desc': header.client && !header.client.asc }]"></span></th>
                  <th ng-click="sortByFunction('status')" class="cursor-pointer">Estado <span      class="fa" ng-class="[{'fa-sort': !header.status, 'fa-sort-asc': header.status.asc, 'fa-sort-desc': header.status && header.status && !header.status.asc }]"></span></th>
                  <th ng-click="sortByFunction('fecha_entrega')" class="cursor-pointer">Fecha entrega <span class="fa" ng-class="[{'fa-sort': !header.fecha_entrega, 'fa-sort-asc': header.fecha_entrega.asc, 'fa-sort-desc': header.fecha_entrega && !header.fecha_entrega.asc }]"></span></th>
                  <th class="cursor-pointer">Acciones</th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="pedido in pedidos track by pedido.id " >
                  <td>{{pedido.client}}</td>
                  <td>{{pedido.status}}</td>
                  <td>{{pedido.fechaentrega2}}</td>
                  <td>
                    <a class="btn btn-md btn-info" href="#modal" data-toggle="modal" ng-click="setPedido(pedido)" >
                      <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a class="btn btn-md btn-primary" href="/pedidos/{{pedido.id}}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#"class="btn btn-md btn-danger" ng-click="cancelarPedidoFunction(pedido)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <nav class="pull-right" >
              <ul class="pagination" >
                <li ng-class="[{ 'disabled': currentPage === 1 }]" >
                  <a href="#" ng-click="currentPage !== 1 && onPageClick(currentPage - 1)"
                     aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

                <li ng-repeat="pageNumber in pages track by $index" ng-class="[{'active': ($index + 1) === currentPage}]">
                  <a href="#" ng-click="onPageClick($index + 1)">{{ $index + 1 }}</a>
                </li>

                <li ng-class="[{ 'disabled': currentPage === pages.length }]" >
                  <a href="#" ng-click="currentPage !== pages.length && onPageClick(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
