<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Digite los datos del pedido
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div ng-if="isSuccess">
                    <div class="alert alert-success">
                        El Pedido ha sido registrado correctamente
                    </div>
                </div>

                <form role="form">
                    <div class="row" >
                        <div class="form-group col-sm-12" ng-class="[{'has-error': pedidoData.error.client_id}]">
                            <label for="client">Seleccione un Cliente</label>
                            <select class="form-control" id="client"
                                    ng-options="item.id as item.fullname for item in pedidoClients | orderBy: 'nombre'"
                                    ng-model="pedidoData.client_id">
                            </select>
                        </div>

                        <div class="form-group col-sm-12" ng-class="[{'has-error': pedidoData.error.tipo_peido}]">
                            <label >Tipo de pedido </label><br/>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="takeout"
                                           ng-model="pedidoData.tipo_peido"
                                           value="Take out">
                                    Take out
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="delivery"
                                           ng-model="pedidoData.tipo_peido"
                                           value="Delivery">
                                    Delivery
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.libra}]">

                            <div class="col-sm-2">
                                <label for="libra">Libra</label>
                                <input type="number" id="libra" class="form-control " size="10"
                                       ng-model="pedidoData.libra" placeholder="libra">
                            </div>

                        </div>

                        <div class="form-group col-sm-12" ng-class="[{'has-error': pedidoData.error.forma}]">
                            <label >Forma </label><br/>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forma"
                                           ng-model="pedidoData.forma"
                                           value="redonda">
                                    Redonda
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="forma"
                                           ng-model="pedidoData.forma"
                                           value="Cuadrada">
                                    Cuadrada
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.planta}]">

                            <div class="col-sm-2">
                                <label for="planta">Planta</label>
                                <input type="number" id="planta" class="form-control " size="10"
                                       ng-model="pedidoData.planta" placeholder="Planta">
                            </div>

                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.design}]">
                            <div class="col-sm-12">
                                <label for="design">Dise&ntilde;o</label>
                                <input type="text" id="design" class="form-control " size="10"
                                       ng-model="pedidoData.design" placeholder="Dise&ntilde;o">
                            </div>

                        </div>

                        <div class="form-group col-sm-12"  ng-class="[{'has-error': pedidoData.error.foto}]" >
                            <img ng-if="pedidoData.foto" class="img-responsive" alt="" ng-src="{{pedidoData.foto}}" />
                            <label for="foto">Foto</label><br/>
                            <input type="file" id="foto" name="foto" my-file="pedidoData.foto" accept="image/x-png, image/gif, image/jpeg" />
                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.color}]">
                            <div class="col-sm-2">
                                <label for="color">Color</label>
                                <input type="text" id="color" class="form-control "
                                       ng-model="pedidoData.color" placeholder="Color">
                            </div>

                        </div>


                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.relleno}]">
                            <div class="col-sm-12">
                                <label for="relleno">Relleno</label>
                                <input type="text" id="relleno" class="form-control "
                                       ng-model="pedidoData.relleno" placeholder="Relleno">
                            </div>

                        </div>
                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.sabor}]">
                            <div class="col-sm-12">
                                <label for="relleno">Sabor</label>
                                <input type="text" id="sabor" class="form-control "
                                       ng-model="pedidoData.sabor" placeholder="Sabor">
                            </div>

                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.comentario}]">
                            <div class="col-sm-12">
                                <label for="comentario">Comentario</label>
                                <textarea id="comentario" class="form-control "
                                       ng-model="pedidoData.comentario" placeholder="Comentario">
                                    </textarea>
                            </div>

                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.fecha_entrega}]">
                            <div class="col-sm-4">
                                <label for="fecha_entrega">Fecha entrega</label>
                                <input type="datetime" id="fecha_entrega" class="form-control datetime"
                                       ng-model="pedidoData.fecha_entrega" placeholder="Fecha entrega">
                            </div>

                        </div>

                        <div class="form-group" >
                            <div class="col-sm-12">
                                <hr/>
                                <h3>Cupcakes</h3>
                            </div>
                        </div>

                        <div class="form-group " ng-class="[{'has-error': pedidoData.error.cupcake_cantidad}]">
                            <div class="col-sm-2">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" id="cantidad" class="form-control "
                                       ng-model="pedidoData.cupcake_cantidad" placeholder="Cantidad">
                            </div>
                        </div>
                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.cupcake_relleno}]">
                            <div class="col-sm-12">
                                <label for="cupcake_relleno">Relleno</label>
                                <input type="text" id="cupcake_relleno" class="form-control "
                                       ng-model="pedidoData.cupcake_relleno" placeholder="Relleno">
                            </div>

                        </div>
                        <div class="form-group " ng-class="[{'has-error': pedidoData.error.cupcake_color}]">
                            <div class="col-sm-2">
                                <label for="cupcake_color">Color</label>
                                <input type="text" id="cupcake_color" class="form-control "
                                       ng-model="pedidoData.cupcake_color" placeholder="Color">
                            </div>

                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.cupcake_design}]">
                            <div class="col-sm-12">
                                <label for="cupcake_design">Dise&ntilde;o</label>
                                <input type="text" id="cupcake_design" class="form-control "
                                       ng-model="pedidoData.cupcake_design" placeholder="Dise&ntilde;o">
                            </div>

                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.cupcake_sabor}]">
                            <div class="col-sm-12">
                                <label for="cupcake_sabor">Sabor</label>
                                <input type="text" id="cupcake_sabor" class="form-control "
                                       ng-model="pedidoData.cupcake_sabor" placeholder="Sabor">
                            </div>

                        </div>

                        <div class="form-group" ng-class="[{'has-error': pedidoData.error.cupcake_comentario}]">
                            <div class="col-sm-12">
                                <label for="cupcake_comentario">Comentario</label>
                            <textarea id="cupcake_comentario" class="form-control "
                                      ng-model="pedidoData.cupcake_comentario" placeholder="Comentario">
                                </textarea>
                            </div>

                        </div>



                    </div>
                    <!-- /row -->

                    <div class="row" >
                        <div class="form-group">
                            <div class="col-lg-12">
                                <hr />
                                <span ng-click="savePedidoFunction()" class="btn btn-success pull-right"><i class="fa fa-save fa-fw"></i> Guardar</span>
                            </div>
                        </div>
                    </div>

                    <!-- /row -->
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
