<span>
  <invert-app-modal>
      <div id="print-area">
          <div class="modal-header">
              <h4 class="modal-title">Pedido</h4>
          </div>

          <div class="modal-body">
              <p><img style="display: block;max-width: 100%;height: auto;max-height: 380px;" ng-if="pedidoSelected.foto" class="img-responsive" alt="" ng-src="{{pedidoSelected.foto}}" /></p>
              <p>Este pedido pertenece a <b>{{ pedidoSelected.client }}</b></p>
              <p>Fecha de entrega <b>{{ pedidoSelected.fechaentrega2 }}</b></p>
              <p>Es para : {{ pedidoSelected.tipo_peido }}</p>
              <p>Debe de tener : {{ pedidoSelected.libra }} libra </p>
              <p>De forma : {{ pedidoSelected.forma }} </p>
              <p>De : {{ pedidoSelected.planta }} planta</p>
              <p>Con el siguiente Dise&ntilde;o : {{ pedidoSelected.design }} </p>
              <p>Color : {{ pedidoSelected.color }} </p>
              <p>Relleno : {{ pedidoSelected.relleno }} </p>
              <p>Sabor : {{ pedidoSelected.sabor }} </p>
              <p ng-if="pedidoSelected.comentario" >Comentario : {{ pedidoSelected.comentario }} </p>
              <hr />
              <h3 ng-if="pedidoSelected.cupcake_cantidad" >Cupcakes</h3>
              <p ng-if="pedidoSelected.cupcake_cantidad" >Cantidad : {{ pedidoSelected.cupcake_cantidad }}</p>
              <p ng-if="pedidoSelected.cupcake_relleno" >Relleno : {{ pedidoSelected.cupcake_relleno }}</p>
              <p ng-if="pedidoSelected.cupcake_color" >Color : {{ pedidoSelected.cupcake_color }}</p>
              <p ng-if="pedidoSelected.cupcake_design" >Dise&ntilde;o : {{ pedidoSelected.cupcake_design }}</p>
              <p ng-if="pedidoSelected.cupcake_sabor" >Sabor : {{ pedidoSelected.cupcake_sabor }}</p>
              <p ng-if="pedidoSelected.cupcake_comentario" >Comentario : {{ pedidoSelected.cupcake_comentario }}</p>
          </div>
      </div>
          <div class="form-group col-sm-12" >
              <label >Estado </label><br/>
              <div class="radio">
                  <label>
                      <input type="radio" name="status"
                             ng-model="pedidoSelected.status"
                             value="nuevo">
                      Nuevo
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" name="status"
                             ng-model="pedidoSelected.status"
                             value="preparando">
                      Preparando
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" name="status"
                             ng-model="pedidoSelected.status"
                             value="listo">
                      Listo
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" name="status"
                             ng-model="pedidoSelected.status"
                             value="entregado">
                      Entregado
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" name="status"
                             ng-model="pedidoSelected.status"
                             value="cancelado">
                      Cancelado
                  </label>
              </div>
          </div>


      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"  >Close</button>
          <button type="button" class="btn btn-success" ng-click="onChangeStatusFunction(pedidoSelected)">Cambiar Estado</button>
          <button type="button" class="btn btn-success" ng-click="printDiv('print-area')">Imprimir</button>
      </div>
  </invert-app-modal>
</span>