<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Digite los datos del cliente
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div ng-if="isSuccess">
          <div class="alert alert-success">
            El cliente ha sido registrado correctamente
          </div>
        </div>

        <form role="form">
          <div class="row" >
            <div class="form-group col-sm-6" ng-class="[{'has-error': clientData.error.nombre}]">
              <label  for="nombre">Nombre</label>
              <input ng-model="clientData.nombre" type="text" id="nombre" class="form-control" placeholder="Nombre">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': clientData.error.apellido}]">
              <label for="apellido">Apellido</label>
              <input ng-model="clientData.apellido" type="text" id="apellido" class="form-control"  placeholder="Apellido">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': clientData.error.telefono}]">
              <label  for="telefono">Tel&eacute;fono</label>
              <input ng-model="clientData.telefono" type="text" id="telefono" class="form-control" placeholder="tel&eacute;fono">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': clientData.error.celular}]">
              <label for="celular">Celular</label>
              <input ng-model="clientData.celular" type="text" id="celular" class="form-control" placeholder="Celular">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': clientData.error.address}]">
              <label for="address">Direcci&oacute;n</label>
              <input ng-model="clientData.address" type="tel" id="address" class="form-control" placeholder="Direcci&oacute;n">
            </div>

            <div class="form-group col-sm-6" ng-class="[{'has-error': clientData.error.email}]">
              <label for="email">Correo</label>
              <input ng-model="clientData.email" type="text" id="email" class="form-control" placeholder="Correo">
            </div>


          </div>
          <!-- /row -->
          <div class="row" >
            <div class="col-md-12">
              <button ng-click="saveClientFunction()" class="btn btn-success pull-right margin-right-18">Guardar</button>
            </div>
          </div>
          <!-- /row -->
        </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
