<div class="row">
  <div class="col-lg-12">
    <invert-app-title>Crear Nuevo Cliente</invert-app-title>
  </div>
  <client-form
    is-edit="false"
    is-success="isSuccess"
    client-data="clientData"
    save-client-function="saveClientFunction"
  >
  </client-form>
</div>
