<span>
  <invert-app-modal>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
      </button>
      <h4 class="modal-title">Usted desea eliminar al cliente {{ clientToBeDelete.nombre + ' '+ clientToBeDelete.apellido }}?</h4>
    </div>
    <div class="modal-body">
      <p>Nombre : {{ clientToBeDelete.nombre }}</p>
      <p>Telefono : {{ clientToBeDelete.telefono }}</p>
      <p>Correo: {{ clientToBeDelete.email }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" ng-click="onRemoveFunction(clientToBeDelete)">Eliminar Cliente</button>
    </div>
  </invert-app-modal>
</span>