<div class="row">
  <div class="col-lg-12">
    <invert-app-title>Editar Cliente</invert-app-title>
  </div>
  <div ng-if="!clientData && isNotRequesting" class="alert alert-danger">
    No existe este Cliente
  </div>
  <client-form
    ng-if="clientData"
    is-edit="true"
    is-success="isSuccess"
    client-data="clientData"
    save-client-function="saveClientFunction">
  </client-form>
</div>
