<div class="row">
  <div class="row">
    <!-- /.col-lg-12 -->
    <div class="col-lg-12">
      <invert-app-title>Clientes del sistema</invert-app-title>
      <div class="pull-right" style="margin-bottom: 10px;">
        <a href="/clients/create" class="btn btn-info"><i class="fa fa-plus fa-fw"></i> Agregar Clientes</a>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista de Clientes
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div class="row">
              <div class="col-sm-6 ">
                <search-box class="pull-left"
                            on-change="searchClient"
                ></search-box>
              </div>
            </div>
            <div class="table-responsive" >
              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                  <th ng-click="sortByFunction('nombre')" class="cursor-pointer">Nombre <span       class="fa" ng-class="[{'fa-sort': !header.nombre, 'fa-sort-asc': header.nombre.asc, 'fa-sort-desc': header.nombre && !header.nombre.asc }]"></span></th>
                  <th ng-click="sortByFunction('apellido')" class="cursor-pointer">Apellido <span       class="fa" ng-class="[{'fa-sort': !header.apellido, 'fa-sort-asc': header.apellido.asc, 'fa-sort-desc': header.apellido && !header.apellido.asc }]"></span></th>
                  <th ng-click="sortByFunction('telefono')" class="cursor-pointer">Tel&eacute;fono<span      class="fa" ng-class="[{'fa-sort': !header.telefono, 'fa-sort-asc': header.telefono.asc, 'fa-sort-desc': header.telefono && header.telefono && !header.telefono.asc }]"></span></th>
                  <th ng-click="sortByFunction('celular')" class="cursor-pointer">Celular<span class="fa" ng-class="[{'fa-sort': !header.celular, 'fa-sort-asc': header.celular.asc, 'fa-sort-desc': header.celular && !header.celular.asc }]"></span></th>
                  <th ng-click="sortByFunction('email')" class="cursor-pointer">Email<span         class="fa" ng-class="[{'fa-sort': !header.email, 'fa-sort-asc': header.email.asc, 'fa-sort-desc': header.email && !header.email.asc }]"></span></th>
                  <th class="cursor-pointer">Acciones</th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="client in clients track by client.id " >
                  <td>{{client.nombre}}</td>
                  <td>{{client.apellido}}</td>
                  <td>{{client.telefono}}</td>
                  <td>{{client.celular}}</td>
                  <td>{{client.email}}</td>
                  <td>
                    <a class="btn btn-md btn-info" href="/clients/{{client.id}}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#modal" data-toggle="modal" class="btn btn-md btn-danger" ng-click="setClient(client)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <nav class="pull-right" >
              <ul class="pagination" >
                <li ng-class="[{ 'disabled': currentPage === 1 }]" >
                  <a href="#" ng-click="currentPage !== 1 && onPageClick(currentPage - 1)"
                     aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

                <li ng-repeat="pageNumber in pages track by $index" ng-class="[{'active': ($index + 1) === currentPage}]">
                  <a href="#" ng-click="onPageClick($index + 1)">{{ $index + 1 }}</a>
                </li>

                <li ng-class="[{ 'disabled': currentPage === pages.length }]" >
                  <a href="#" ng-click="currentPage !== pages.length && onPageClick(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
