<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Intruduzca su usuario y contrase&ntilde;a</h3>
      </div>
      <div class="panel-body">
        <div *ngIf="errors">
          <div class="alert alert-danger" ng-if="error">
            {{ error }}
          </div>
        </div>
        <form role="form">
          <fieldset>
            <div class="form-group">
              <input class="form-control" id="user"
                     ng-model="username"
                     placeholder="Usuario" name="username" type="text" autofocus>
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Contrase&ntilde;a" ng-model="password" name="password" type="password">
            </div>
            <div class="checkbox">
              <label>
                <input
                  name="remember"
                  type="checkbox" ng-model="rememberMe">Recordarme
              </label>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <button ng-click="login()" class="btn btn-lg btn-success btn-block">
              <i ng-if="isLoading"
                 class="fa fa-refresh" aria-hidden="true">
                Loading...
              </i>
              <span ng-if="!isLoading">Login</span>
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
